
.pcDcCard {
    /* background-image: radial-gradient( circle at 688.769px 361.72px, #0141FF55, #0000000f ); */
    background: linear-gradient(217deg, #182B60, rgba(0, 0, 0, 0) 80.71%), linear-gradient(127deg, #182B60, rgba(0, 0, 0, 0) 80.71%), linear-gradient(336deg, #182B60, rgba(0, 0, 0, 0) 80.71%) !important;
    height: 100%;
    text-align: center;
    color: #fff !important;
}
.pcDcCard:hover {
    background-image:  #0000000f;
}
.pcDcCard img {
    width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.pcDcCard h3 {
    font-weight: 800;
    font-size: 30px;
    /* text-transform: uppercase; */
    
}
.pcDcCard ul{
    list-style:square;
    text-align: justify;
    margin-left: 40px;
    font-size: 20px;
}
.pcDcCard p{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.aboutBox {
    height: 100%;
    text-align: center;
   
}
.aboutBox:hover {
    background-image:  #0000000f;
}
.aboutBox img {
    width: 120px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.aboutBox h3 {
    font-weight: 700;
    font-size: 25px;
    /* color:rgb(104, 48, 173) !important; */
    
    /* text-transform: uppercase; */
}
.aboutBox p{
    text-align: center;
    font-size: 15px;
}
