 .projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    color:aqua
  }
  
  .projectCard {
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgb(0 26 97 / 10%);
    transition: .2s;
  }
  .projectCard:hover {
    transform: translateY(-10px) scale(1.03);
  }
  
  .projectLogo {
    max-width: 200px !important;
    margin-bottom: 20px;
  }
  