.menu {
    background: linear-gradient(217deg, #24498b, rgba(0, 0, 0, 0) 80.71%), linear-gradient(127deg, #24498b, rgba(0, 0, 0, 0) 80.71%), linear-gradient(336deg, #24498b, rgba(0, 0, 0, 0) 80.71%) !important;
    z-index: 10;
}
.menu img {
    width: 120px;
    height: auto;
}
.menu a {
    font-size: 18px;
}