
.pcDcCard {
    /* background-image: radial-gradient( circle at 688.769px 361.72px, #0141FF55, #0000000f ); */
    background: linear-gradient(217deg, #112e60, rgba(0, 0, 0, 0) 69.71%), linear-gradient(127deg, #112e60, rgba(0, 0, 0, 0) 80.71%), linear-gradient(336deg, #112e60, rgba(0, 0, 0, 0) 80.71%),linear-gradient(45deg, #112e60, rgba(0, 0, 0, 0) 80.71%) !important;
    height: 100%;
    text-align: center;
    color: #fff !important;
    font-family: 'Questrial' ;
}
.pcDcCard::after {
    filter: blur(3px);
}
.pcDcCard:hover {
    background-image:  #0000000f;
}
.pcDcCard img {
    width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.pcDcCard h3 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0 !important;
    /* text-transform: uppercase; */
    
}
.pcDcCard ul{
    list-style:square;
    text-align: justify;
    margin-left: 40px;
    font-size: 20px;
}
.pcDcCard p{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-top: -40px !important;
}

.serviceBox {
    height: 100%;
    text-align: center;
    backdrop-filter:  blur(3px);
   
}
.serviceBox::after {
    filter:  blur(3px);
}
.serviceBox:hover {
    background-image:  #0000000f;
}
.serviceBox img {
    width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.serviceBox h3 {
    font-weight: 700;
    font-size: 25px;
    font-family: 'Questrial' ;
    /* color:rgb(104, 48, 173) !important; */
    
    /* text-transform: uppercase; */
}
.serviceBox p{
    text-align: center;
    font-size: 15px;
}
